@use 'variables' as v;
@use 'mixins' as m;
@import "theme";

.option-bar {
  background: v.$bianco;
  margin: 10px 0;

  .view-list-mode, .view-grid-mode {
    height: 30px;
    width: 30px;
    background-size: cover !important;
    display: inline-block;
    margin: 20px 0;

    &:hover, &.active {
      background-position: 30px 0;
    }
  }

  .view-list-mode {
    background: url("../../../assets/images/bt-lists.svg") 0 0;
  }

  .view-grid-mode {
    background: url("../../../assets/images/bt-blocks.svg") 0 0;
  }

}



