@use 'variables' as v;
@use 'mixins' as m;
@import "theme";

@import "_progressbar_circular";

.dashboard {

  @import "_toolbar";

  .table {
    border-spacing: 0;
    background: v.$bianco;

    th {
      background: v.$bianco;
      text-transform: uppercase;
    }

    tbody tr {
      height: 70px;
    }
  }

  .table, .grid {

    tr, .grid-item {

      &:nth-child(even) {
        background: v.$grigio_riga_pari_col_prim;

        td:nth-child(n+8) {
          background: v.$grigio_riga_pari_col_sec
        }

        //td:last-child {
        //  background: v.$grigio_riga_pari_col_prim;
        //}

      }


      &:nth-child(odd) {
        background: v.$grigio_riga_dispari_col_prim;

        td:nth-child(n+8) {
          background: v.$grigio_riga_dispari_col_sec
        }

        //td:last-child {
        //  background: v.$grigio_riga_dispari_col_prim;
        //}
      }

    }

    // Stile per la riga off (arancione)
    tr.status_off, .grid-item.status_off {

      color: v.$bianco;

      background: v.$arancione_riga_off_col_prim;

      // Serve per "background: inherit" nella riga 'timing'
      td:nth-child(-n+6) {
        background: v.$arancione_riga_off_col_prim;
      }

      td:nth-child(n+7) {
        background: v.$arancione_riga_off_col_sec;
        color: v.$font-color;
      }

      //td:last-child {
      //  background: v.$arancione_riga_off_col_prim;
      //}

      // override del colore per tag 'small'
      h4, h5, {
        small {
          color: v.$bianco;
        }
      }

      // override del colore per il bordo di processing
      span.processing {
        border-color: v.$bianco;
      }

      div.time-in-stop {

        position: relative;
        background: inherit;

        border: 1px solid v.$bianco;
        //margin: -20px 40px 0 40px;
        margin: 0 40px 0 40px;
        height: 40px;

        small {
          position: absolute;
          background: inherit;
          top: -5px;
          left: -60px;
          width: 120px;
          text-align: center;
          margin-left: 50%;
          font: bold 14px v.$font-stack-rubik;
          font-size: calc(14px * #{v.$font-scale}) !important;
        }

        span {
          display: block;
          line-height: 2em;
          font: normal 52px v.$font-stack-rubik;
          text-align: center;
          margin: 12px 20px 0 20px;
          background: inherit;
          letter-spacing: 1px;
          font-size: calc(45px * #{v.$font-scale}) !important;
        }
      }

    }

    // Stile per le celle: allineamento verticale e no bordi
    td, th {
      border: 0;
      display: table-cell;
      vertical-align: middle;
    }

    tr.status_on td, .grid-item.status_on {
      span.status {
        background: v.$verde;
      }
    }

    tr.status_set td, .grid-item.status_set {
      span.status {
        background: v.$azzurro;
      }
    }

    tr.status_xxx td, .grid-item.status_xxx {
      span.status {
        background: v.$arancione_status_xxx;
      }
    }

    tr.status_out td, .grid-item.status_out {
      span.status {
        background: v.$grigio_status_out;
      }
    }

    tr.status_off td, .grid-item.status_off {
      span.status {
        background: v.$bianco;
        color: v.$arancione_riga_off_col_prim;
      }
    }


    td, .grid-item {

      span.status {
        border-radius: 100%;
        color: #FFF;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        font: italic bold 20px/40px v.$font-stack-barlow;
        font-size: calc(20px * #{v.$font-scale}) !important;
      }

      h4, h5 {

        span {
          font: normal 25px v.$font-stack-rubik;
          font-size: calc(23px * #{v.$font-scale}) !important;
        }

        small {
          font: normal 20px v.$font-stack-rubik;
          color: v.$font-color;
          font-size: calc(20px * #{v.$font-scale}) !important;
        }

      }

      h4 span {
        font-size: 30px;
        font-size: calc(25px * #{v.$font-scale}) !important;
      }


      span.client_name {
        font: normal 25px v.$font-stack-rubik;
        font-size: calc(25px * #{v.$font-scale}) !important;
      }


      span.processing {
        border: 2px solid #000;
        padding: 7px 20px;
        width: 100%;
        display: block;
        border-radius: 8px;
        font: italic bold 20px v.$font-stack-barlow;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        font-size: calc(20px * #{v.$font-scale}) !important;
      }

      .time-start, .time-last-stop {
        font: normal 20px v.$font-stack-rubik;
        font-size: calc(20px * #{v.$font-scale}) !important;
      }

      .time-last-stop {
        color: v.$rosso_last_stop;
      }

      div.switch-turno-ordine {
        font: italic 500 24px v.$font-stack-barlow;
        font-size: calc(20px * #{v.$font-scale}) !important;
        color: v.$grigio_chiaro;
        letter-spacing: 1px;
        padding: 0 0 0 10px;

        span {
          line-height: 1.6em;
        }

        span.active {
          color: v.$grigio-scuro;
        }
      }

      span.time-count {
        padding: 5px 0;
        font: normal 24px v.$font-stack-rubik;
        font-size: calc(16px * #{v.$font-scale}) !important;
      }

      span.time-count::before {
        content: "\f111 \0020";
        font-family: FontAwesome, serif;
        font-size: 17px;
        font-size: calc(17px * #{v.$font-scale}) !important;
      }

      span.time-count.time-on::before {
        color: v.$verde;
      }

      span.time-count.time-off::before {
        color: v.$rosso;
      }

      div.progress {
        height: 10px;
        background: v.$grigio_chiaro;
        //margin: 0 17px 20px 17px;
        margin: 0 0 20px 0;

        .progress-bar {
          border-radius: 4px;
        }

        .progress-bar-red {
          background: v.$rosso;
        }

        .progress-bar-blue {
          background: v.$azzurro;
        }

        .progress-bar-yellow {
          background: v.$arancione;
        }

        .progress-bar-green {
          background: v.$verde;
        }

      }

      div.static-progress-bar {

        color: v.$grigio-scuro;
        border: 2px solid v.$grigio-scuro;
        width: max-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 12px;
        line-height: 20px;
        font: normal 16px v.$font-stack-rubik;
        font-size: calc(16px * #{v.$font-scale}) !important;
        margin: auto;

        span {
          padding: 0 15px;
          border-radius: 12px;
          background: inherit;
        }

        span.current {
          background: v.$grigio-scuro;
          color: v.$bianco;
          margin-left: -1px;
        }

        span.target {
          color: v.$grigio-scuro;
        }

      }


      div.oee-pct {
        font: normal 60px v.$font-stack-rubik;
        font-size: calc(50px * #{v.$font-scale}) !important;

        &::after {
          content: '\0025';
          font-size: 30px;
          font-size: calc(30px * #{v.$font-scale}) !important;
        }
      }


      div.circle_on_off {

        font: 500 38px v.$font-stack-rubik;
        font-size: calc(38px * #{v.$font-scale}) !important;
        text-align: center;
        position: relative;
        background: inherit;
        padding: 0 15px;

        span {
          border-radius: 100%;
          border: 3px solid v.$grigio_background;
          width: 65px;
          height: 65px;
          display: block;
          margin: auto;
          line-height: 1.8em;
        }

        small {
          position: absolute;
          top: 38px;
          background: inherit;
          left: 0;
          font: normal 15px v.$font-stack-rubik;
          font-size: calc(15px * #{v.$font-scale}) !important;
          width: 100%;
          padding: 3px 0;
          white-space: nowrap;
        }
      }

      div.circle_on_off.cirle_ok {
        span {
          color: v.$verde;
        }
      }

      div.circle_on_off.cirle_ko {
        span {
          color: v.$rosso;
          border: 3px solid v.$rosso;
        }
      }
    }
  }

  // eccezioni per grid
  .grid {

    padding: 0 10px;
    display: flex;
    flex-flow: wrap;

    .grid-item {

      display: inline-flex;
      flex-flow: column;
      padding: 30px 15px;
      border: 5px solid v.$grigio_background;

      @media (min-width: 1200px) and (max-width: 1500px) {
        width: 20% !important;
      }

      h4 {
        margin-top: 0;
      }

      h5 {
        margin-top: 3px;
      }

      span.status {
        font-size: 24px;
        font-size: calc(24px * #{v.$font-scale}) !important;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      div.oee-pct {
        font: normal 110px v.$font-stack-rubik;
        font-size: calc(87px * #{v.$font-scale}) !important;
        padding-bottom: 15px;

        &::after {
          content: '\0025';
          font-size: 40px;
          font-size: calc(40px * #{v.$font-scale}) !important;
        }
      }

      &.status_off div.time-in-stop {
        margin: 20px 0 27px 0;

        span {
          background: v.$arancione_riga_off_col_prim;
          //margin: 14px 30px 0 30px;

          margin: 14px auto auto;
          width: fit-content;
          width: max-content;
          padding: 0 10px;
        }

        small {
          background: v.$arancione_riga_off_col_prim;
        }

      }
    }
  }


}

