@use 'variables' as v;
@use 'mixins' as m;

body {
   font: 100% v.$font-stack-rubik;
   color: v.$font-color;
   font-size: calc(24px * #{v.$font-scale}) !important;
 }

.login {

  background-image: url('../../images/bg-menu.jpg');
  background-size: cover;

  .form-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {

      width: 100%;

      label {
        display: none;
      }

      input[type='text'], input[type='email'], input[type='password'] {
        background: rgba(255, 255, 255, 0.2);
        color: v.$bianco;
        border: 0;
        border-radius: 0;
        padding: 22px;
        font-style: italic;

        &::placeholder {
          color: v.$grigio_chiaro;
        }
      }

    }

  }

  .login-btn {
    background: transparent;
    color: v.$bianco;
    border: 2px solid rgba(255, 255,255, 0.2);
    font-family: v.$font-stack-barlow;
    font-style: italic;
    font-weight: bold;
    padding: 12px 10px;
    outline: 0;
    margin: 20px auto;
    min-width: 50%;

    &:hover, &:active {
      background: rgba(255, 255,255, 0.2);
      border-color: transparent;
    }

  }

}