@use 'variables' as v;

@mixin input-text {
  width: 100%;
  font: normal 14px v.$font-stack-rubik;
  border: 0;
  border-bottom: 1px solid v.$grigio_background;
  background: v.$bianco;
  padding: 4px 0;
  outline: 0;
  box-shadow: none !important;
  border-radius: 0 !important;

  &::-webkit-input-placeholder { /* Edge */
    color: v.$font-color;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: v.$font-color;
  }

  &::placeholder {
    color: v.$font-color;
  }
}

@mixin input-box {
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@mixin input-select {
  width: 100%;
  font: normal 14px v.$font-stack-rubik;
  border: 0;
  border-bottom: 1px solid v.$grigio_background;
  background: v.$bianco;
  padding: 3px 0;
  outline: 0;
  box-shadow: none !important;
  border-radius: 0 !important;
}

@mixin input-button {
  background: v.$bianco;
  color: v.$grigio-scuro;
  border: 1px solid v.$grigio_background;
  font: italic bold 12px v.$font-stack-barlow;
  padding: 5px 18px;
  outline: 0;
  box-shadow: none !important;
  border-radius: 0 !important;

  &:hover, &:active, &:focus {
    background: v.$grigio_background;
    //color: v.$bianco;
  }

  &:disabled, &.disabled {
    background: v.$grigio-chiarissimo !important;
    color: v.$grigio_chiaro !important;
    cursor: initial;
  }
}

@mixin input-lg {
  padding: 12px 100px;
  font: italic bold 14px "Barlow", sans-serif;
}

@mixin input-inline {
  width: 100%;
  font: normal 14px v.$font-stack-rubik;
  border: 0;
  border-bottom: 1px solid v.$grigio_background;
  background: v.$bianco;
  padding: 4px 0;
  outline: 0;

  &::-webkit-input-placeholder { /* Edge */
    color: v.$font-color;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: v.$font-color;
  }

  &::placeholder {
    color: v.$font-color;
  }

  &:active, &:focus {
    border-bottom: 1px solid v.$azzurro;
  }
}