@use 'variables' as v;
@use 'mixins' as m;
@import "theme";
@import "table";

.scheda-content {

  border-left: 8px solid v.$azzurro;
  padding: 20px 30px;

  h3 {
    font-style: italic;
  }

  .form-horizontal {
    margin-bottom: 20px;
  }

  .table-content {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}