@use 'variables' as v;
@use 'mixins' as m;
@import "theme";

.table-content {

  display: flex;

  table {

    border-spacing: 0;
    background: v.$bianco;
    border: 1px solid v.$grigio-chiarissimo;

    th {
      background: v.$bianco;
      text-transform: uppercase;
    }

    // Stile per le celle: allineamento verticale e no bordi
    td, th {
      border: 0;
      display: table-cell;
      vertical-align: middle;
    }

    // Stile per i titoli della tabella
    tr {
      &:nth-child(odd) {
        background-color: v.$grigio_riga_pari_col_sec;
      }

      &:nth-child(even) {
        background-color: v.$grigio_riga_dispari_col_sec;
      }

      &:hover, &:active, &.selected {
        background-color: v.$azzurro;
      }
    }

    th {
      font: bold 18px v.$font-stack-rubik;
      color: v.$grigio_scuro;
      font-size: calc(18px * #{v.$font-scale}) !important;
      background: v.$bianco;
      padding: 5px 10px;
      border: 1px solid v.$grigio-chiarissimo;
      text-transform: uppercase;

      &::after {
        text-align: right;
        float: right;
      }
    }

    td {
      border: 0 !important;

      a.icon-btn-akt {
        font-size: calc(22px * #{v.$font-scale}) !important;
        color: v.$grigio_scuro;
      }
    }

    .akt-cell {
      width: 40px;
      text-align: center;
    }

  }

  .pagination-btn {

    @include m.input-button;
    font-style: normal;
    font-size: calc(19px * #{v.$font-scale});
    padding: 7px;
    width: 32px;
    height: 32px;


    input[type='text'].pagination-current {
      width: auto;
      padding: 5px 5px;
      max-width: 40px;
      text-align: center;
    }

    &.pagination-current {
      &.disabled {
        padding: 5px 5px;
        max-width: 40px;
        text-align: center;
        border-color: v.$azzurro;
        background-color: v.$bianco !important;
      }
    }

    &.pagination-first::after {
      font-family: FontAwesome, serif;
      content: " \f049";
    }

    &.pagination-prev::after {
      font-family: FontAwesome, serif;
      content: " \f048";
    }

    &.pagination-next::after {
      font-family: FontAwesome, serif;
      content: " \f051";
    }

    &.pagination-last::after {
      font-family: FontAwesome, serif;
      content: " \f050";
    }
  }

  .filters {
    padding-left: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .section {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

    .filter-icon {

      height: 40px;
      width: 40px;
      display: block;
      margin: auto;
      background-repeat: no-repeat;

      &#filter-opt {
        background-image: url("../../images/icon-filter.svg");
      }
      &#filter-reset {
        background-image: url("../../images/icon-reset.svg");
      }
      &#filter-xls {
        background-image: url("../../images/icon-xls.svg");
      }

    }

    hr {
      margin: 30px 15px;
      border: 0;
      border-top: 1px solid v.$grigio_background;
    }

  }

}