@use 'variables' as v;
@use 'mixins' as m;

body {
  font: 100% v.$font-stack-rubik;
  color: v.$font-color;
  font-size: calc(20px * #{v.$font-scale}) !important;
}

.section {
  background: v.$bianco;
  margin: 10px 0;
  padding: 5px;
}

.opt-btn {
  @include m.input-button
}

.opt-btn.input-big {
  @include m.input-lg;
  border-width: 2px;
}

.form-group {
  margin: 25px 0;

  label {
    display: none;
  }
}

select {
  @include m.input-select
}

input[type='text'] {
  @include m.input-text
}

.input-box {
  @include m.input-box
}

.form-horizontal {
  input[type='text'], select {
    @include m.input-inline
  }

  .form-group {
    margin: 25px 0;
    border-bottom: 1px solid v.$grigio_chiaro;
    //padding: 5px;

    div:before {
      content: ' ';
      position: absolute;
      bottom: -2px;
      left: 15px;
      height: 3px;
      width: 50px;
      background: #3BCED9;
    }

    label {
      display: inline-block;
      //font-family: v.$azzurro;
      text-align: left;
      font-weight: normal;

      &:after {
        font-family: FontAwesome, serif;
        content: '\f054';
        text-align: right;
        float: right;
        font-weight: 100;
        font-size: 20px;
        color: v.$grigio_chiaro;
      }
    }
  }

}



h3 {
  font-family: v.$font-stack-barlow;
  font-weight: normal;
  font-style: normal;
}

th {
  font: normal 18px v.$font-stack-rubik;
  color: v.$grigio_scuro;
  font-size: calc(18px * #{v.$font-scale}) !important;

  &.filtrable::after {
    font-family: FontAwesome, serif;
    content: ' \f0b0';
  }

  &.sortable::after {
    font-family: FontAwesome, serif;
    content: " \f0dc";
  }

  &.sort-asc::after {
    font-family: FontAwesome, serif;
    content: " \f0de";
  }

  &.sort-desc::after {
    font-family: FontAwesome, serif;
    content: " \f0dd";
  }

}

