@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,700;1,500;1,700&family=Rubik:wght@400;500;700&display=swap');

$font-stack-barlow: 'Barlow', sans-serif;
$font-stack-rubik: 'Rubik', sans-serif;

$font-scale: 0.7;

$primary-color: #2B2A2E;
$font-color: #2B2A2E;


$grigio_background: #E4E4E4;
$bianco: #FFF;

$verde: #0AEE86;
$azzurro: #3BCED9;
$arancione: #E49C02;
$rosso: #F95A5A;

$arancione_status_xxx: #EE870C;
$grigio_status_out: #B0B0B0;

$rosso_last_stop: #FB0634;

$grigio_riga_dispari_col_prim: #F8F8F8;
$grigio_riga_dispari_col_sec: #F3F3F3;
$grigio_riga_pari_col_prim: #FFFFFF;
$grigio_riga_pari_col_sec: #FCFCFC;

$arancione_riga_off_col_prim: #F95A5A;
$arancione_riga_off_col_sec: #F8E2E2;

$grigio-chiarissimo: #EFEFEF;
$grigio_chiaro: #B1B1B1;
$grigio-scuro: #444444;


body {
  background: $grigio_background;
}